.App {
  text-align: center;
}
.App p {
  margin:0.75em;
}
.App h3 {
  margin:0.5em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 25vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}
mark { 
  background-color: rgb(251, 252, 188);
  color: black;
}
.App-link {
  color: #61dafb;
}
div button {
  padding:5px;
}
form input {
  margin:5px 0px;
}
.blink_style {
  background: rgb(255, 255, 255);
 }
 .blink_style mark {
  text-align: center;
  font-family: Verdana;
  color: #e60808;
  animation: blink-text 1.9s linear infinite;
  font-size: 1em;
 }
.amount-container input {
  font-size:1.20em;
  vertical-align:middle;
}
.amount-container button {
  vertical-align: middle;
}
 @keyframes blink-text {
  0% {
   opacity: 0;
  }
  50% {
   opacity: 1;
  }
  100% {
   opacity: 0;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
